/* Kent v0.0.1 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* COLORS */
/* SIZES */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0em; }

.k-container {
  margin: 0 auto;
  width: 70%;
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 769px) {
    .k-container {
      width: 95%; } }

.k-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #77B6EA; }
  .k-hero.large > .k-hero-content {
    padding: 9em 0em; }
  .k-hero.dark {
    background-color: #37393A; }
  .k-hero.light {
    background-color: #E8EEF2; }
    .k-hero.light .k-hero-content .k-title {
      color: #37393A; }
    .k-hero.light .k-hero-content .k-subtitle {
      color: #37393A; }
  .k-hero .k-hero-content {
    padding: 4em 0em; }
    .k-hero .k-hero-content .k-title {
      color: #fff;
      font-weight: 700;
      font-size: 2rem; }
    .k-hero .k-hero-content .k-subtitle {
      color: #fff;
      font-weight: 300;
      font-size: 1.25rem; }

.k-type h1, .k-type h2, .k-type h3, .k-type h4, .k-type h5, .k-type h6 {
  color: #37393A;
  line-height: 1.25;
  font-weight: 600;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
.k-type h1 {
  font-size: 2.5rem;
  margin: 1em 0em .5em 0em; }
.k-type h2 {
  font-size: 2rem;
  margin: 1em 0em .4em 0em; }
.k-type h3 {
  font-size: 1.5rem;
  margin: .85em 0em .35em 0em; }
.k-type h4 {
  font-size: 1.5rem;
  margin: .75em 0em .3em 0em; }
.k-type h5 {
  font-size: 1.25rem;
  margin: .5em 0em .25em 0em; }
.k-type h6 {
  font-size: 1.25rem;
  margin: .5em 0em .25em 0em;
  color: #6D6F6F; }
.k-type p {
  margin: 0em 0em 1em 0em;
  line-height: 1.5;
  color: #4a4a4a; }
.k-type blockquote {
  background-color: #E8EEF2;
  color: #6D6F6F;
  padding: 1.5em;
  border-left: 5px solid #C7D3DD;
  margin: .5em 0em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
.k-type ul {
  list-style: square outside;
  margin: 1em 0em 1em 1.5em; }
  .k-type ul li {
    line-height: 1.5; }
.k-type ol {
  list-style: decimal;
  margin: 1em 0em 1em 1.5em; }
  .k-type ol li {
    line-height: 1.5; }

.k-button {
  display: inline-flex;
  width: fit-content;
  background-color: #fff;
  color: #4a4a4a;
  text-align: center;
  justify-content: center;
  padding: 0.75em 1em;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  border: #fff solid 2px;
  font-size: 1rem; }
  .k-button:hover {
    background-color: #E8EEF2;
    border: #E8EEF2 solid 2px; }
  .k-button.rounded {
    border-radius: 5px; }
  .k-button.bordered {
    border: 2px solid #C7D3DD; }
  .k-button.primary {
    background-color: #77B6EA;
    color: #fff;
    border: #77B6EA solid 2px; }
    .k-button.primary:hover {
      background-color: #61aae7;
      border: #61aae7 solid 2px; }
    .k-button.primary.bordered {
      background-color: #fff;
      border: 2px solid #77B6EA;
      color: #77B6EA; }
      .k-button.primary.bordered:hover {
        background-color: #77B6EA;
        color: #fff; }
  .k-button.info {
    background-color: #016FB9;
    color: #fff;
    border: #016FB9 solid 2px; }
    .k-button.info:hover {
      background-color: #0160a0;
      border: #0160a0 solid 2px; }
    .k-button.info.bordered {
      background-color: #fff;
      border: 2px solid #016FB9;
      color: #016FB9; }
      .k-button.info.bordered:hover {
        background-color: #016FB9;
        color: #fff; }
  .k-button.success {
    background-color: #2AD94D;
    color: #fff;
    border: #2AD94D solid 2px; }
    .k-button.success:hover {
      background-color: #23c644;
      border: #23c644 solid 2px; }
    .k-button.success.bordered {
      background-color: #fff;
      border: 2px solid #2AD94D;
      color: #2AD94D; }
      .k-button.success.bordered:hover {
        background-color: #2AD94D;
        color: #fff; }
  .k-button.warning {
    background-color: #f7b32b;
    color: #fff;
    border: #f7b32b solid 2px; }
    .k-button.warning:hover {
      background-color: #f6aa12;
      border: #f6aa12 solid 2px; }
    .k-button.warning.bordered {
      background-color: #fff;
      border: 2px solid #f7b32b;
      color: #f7b32b; }
      .k-button.warning.bordered:hover {
        background-color: #f7b32b;
        color: #fff; }
  .k-button.error {
    background-color: #e3170a;
    color: #fff;
    border: #e3170a solid 2px; }
    .k-button.error:hover {
      background-color: #cb1509;
      border: #cb1509 solid 2px; }
    .k-button.error.bordered {
      background-color: #fff;
      border: 2px solid #e3170a;
      color: #e3170a; }
      .k-button.error.bordered:hover {
        background-color: #e3170a;
        color: #fff; }

.k-grid {
  display: flex;
  margin: 0rem -0.5rem; }
  @media screen and (max-width: 769px) {
    .k-grid {
      display: block; } }
  .k-grid.centered {
    justify-content: center; }
  .k-grid.wrapped {
    flex-wrap: wrap; }
  .k-grid .k-column {
    display: block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 0.5rem;
    box-sizing: border-box; }
    .k-grid .k-column.full-width {
      flex: none;
      width: 100%; }
    .k-grid .k-column.one-quarter {
      flex: none;
      width: 25%; }
    .k-grid .k-column.one-half {
      flex: none;
      width: 50%; }
    .k-grid .k-column.three-quarters {
      flex: none;
      width: 75%; }
    .k-grid .k-column.is-1 {
      flex: none;
      width: 8.33333%; }
    .k-grid .k-column.is-2 {
      flex: none;
      width: 16.66667%; }
    .k-grid .k-column.is-3 {
      flex: none;
      width: 25%; }
    .k-grid .k-column.is-4 {
      flex: none;
      width: 33.33333%; }
    .k-grid .k-column.is-5 {
      flex: none;
      width: 41.66667%; }
    .k-grid .k-column.is-6 {
      flex: none;
      width: 50%; }
    .k-grid .k-column.is-7 {
      flex: none;
      width: 58.33333%; }
    .k-grid .k-column.is-8 {
      flex: none;
      width: 66.66667%; }
    .k-grid .k-column.is-9 {
      flex: none;
      width: 75%; }
    .k-grid .k-column.is-10 {
      flex: none;
      width: 83.33333%; }
    .k-grid .k-column.is-11 {
      flex: none;
      width: 91.66667%; }
    .k-grid .k-column.is-12 {
      flex: none;
      width: 100%; }
    .k-grid .k-column.center-content {
      justify-content: center;
      text-align: center; }

.k-nav {
  background-color: #fff;
  min-height: 3em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%; }
  .k-nav > .k-container {
    display: flex;
    flex-direction: row; }
  .k-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150; }
  .k-nav.accented {
    border-top: #77B6EA solid 4px; }
  .k-nav.shadow {
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2); }
  .k-nav .k-logo {
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em 0em;
    cursor: pointer;
    font-weight: 700; }
  .k-nav .k-nav-list {
    display: flex;
    align-items: stretch;
    width: 100%; }
    .k-nav .k-nav-list.nav-end {
      justify-content: flex-end; }
    .k-nav .k-nav-list.nav-center {
      justify-content: center;
      align-items: center; }
    .k-nav .k-nav-list .k-nav-item {
      background-color: #fff;
      display: flex;
      padding: 0.5em 1em;
      align-items: center;
      cursor: pointer; }
      .k-nav .k-nav-list .k-nav-item:hover {
        background-color: #E8EEF2; }
      .k-nav .k-nav-list .k-nav-item.is-dropdown {
        padding: 0em; }
        .k-nav .k-nav-list .k-nav-item.is-dropdown .k-dropdown-title {
          padding: 0.5em 1em; }
        .k-nav .k-nav-list .k-nav-item.is-dropdown:hover > .k-dropdown {
          display: block; }
      .k-nav .k-nav-list .k-nav-item .k-dropdown {
        background-color: #fff;
        padding: 0.5em 0em;
        top: 100%;
        display: none;
        position: absolute;
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
        z-index: 100; }
        .k-nav .k-nav-list .k-nav-item .k-dropdown.accented {
          border-bottom: #77B6EA solid 4px; }
        .k-nav .k-nav-list .k-nav-item .k-dropdown .k-dropdown-item {
          display: flex;
          padding: 0.45em 1.5em;
          width: auto; }
          .k-nav .k-nav-list .k-nav-item .k-dropdown .k-dropdown-item:hover {
            background-color: #E8EEF2; }

.k-form .k-field {
  margin-bottom: 1em;
  width: auto; }
  .k-form .k-field .k-label {
    display: block;
    font-size: 1rem;
    padding: 0em 0em 0.5em 0em; }
  .k-form .k-field .k-input {
    width: 100%;
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border: #C7D3DD solid 1.3px;
    font-size: 1rem;
    line-height: 1.2; }
    .k-form .k-field .k-input:focus {
      border: #77B6EA solid 1.3px;
      outline: none;
      box-shadow: 0px 0px 4px #77B6EA; }
  .k-form .k-field .k-select {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 1em; }
    .k-form .k-field .k-select select {
      height: 100%;
      display: block;
      background-color: #fff;
      max-width: 8em;
      min-width: 8em;
      padding: 0.5em 2em 0.5em 0.5em;
      border: #C7D3DD solid 1.3px;
      font-size: 1rem;
      line-height: 1.2;
      outline: none;
      box-shadow: none;
      -webkit-appearance: none;
      cursor: pointer; }
    .k-form .k-field .k-select::after {
      border: 1px solid #C7D3DD;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: 0.5em;
      position: relative;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 0.5em;
      margin-top: -1.58em;
      right: -6.6em;
      top: 50%; }
    .k-form .k-field .k-select:hover::after {
      border-color: #77B6EA; }

body.nightmode {
  background-color: #37393A;
  color: #C7D3DD; }
  body.nightmode .k-hero {
    background-color: #537FA3; }
    body.nightmode .k-hero.dark {
      background-color: #1e1f20; }
    body.nightmode .k-hero.light {
      background-color: #dddede; }
  body.nightmode .k-nav {
    background-color: #37393A; }
    body.nightmode .k-nav .k-nav-list .k-nav-item {
      background-color: #37393A;
      color: #C7D3DD; }
      body.nightmode .k-nav .k-nav-list .k-nav-item .k-dropdown {
        background-color: #37393A; }
  body.nightmode .k-type h1, body.nightmode .k-type h2, body.nightmode .k-type h3, body.nightmode .k-type h4, body.nightmode .k-type h5, body.nightmode .k-type h6 {
    color: #fff; }
  body.nightmode .k-type p {
    color: #C7D3DD; }
  body.nightmode .k-type blockquote {
    background-color: #4f5254;
    color: #dddede;
    border-color: #1e1f20; }
  body.nightmode .k-button {
    background-color: #37393A; }
    body.nightmode .k-button:hover {
      color: #C7D3DD; }
    body.nightmode .k-button.info {
      background-color: #016FB9; }
      body.nightmode .k-button.info:hover {
        color: #fff; }
    body.nightmode .k-button.warning {
      background-color: #f7b32b; }
      body.nightmode .k-button.warning:hover {
        color: #fff; }
    body.nightmode .k-button.success {
      background-color: #2AD94D; }
      body.nightmode .k-button.success:hover {
        color: #fff; }
    body.nightmode .k-button.error {
      background-color: #e3170a; }
      body.nightmode .k-button.error:hover {
        color: #fff; }
    body.nightmode .k-button.bordered {
      background-color: #37393A; }
      body.nightmode .k-button.bordered:hover {
        color: #fff; }
  body.nightmode .k-form .k-field .k-input {
    background-color: #505354;
    border-color: #1e1f20; }
    body.nightmode .k-form .k-field .k-input:focus {
      background-color: #dddede; }
    body.nightmode .k-form .k-field .k-input:active {
      background-color: #dddede; }
  body.nightmode .k-form .k-field .k-select select {
    background-color: #505354;
    border-color: #1e1f20; }
  body.nightmode .k-form .k-field .k-select::after {
    border-color: #1e1f20; }
  body.nightmode .k-form .k-field .k-select:hover::after {
    border-color: #537FA3; }

/*# sourceMappingURL=kent.css.map */
