$input-background-color: $grey-very-light !default;
$input-border-radius: $border-radius !default;
$input-border-color: $grey-very-light !default;
$input-border-color-active: $primary !default;
$input-background-color-active: $white !default;
$input-padding: .5em .5em .5em .6em !default;
$input-border-weight: 2px !default;
$input-font-size: $text-size-small !default;
$input-line-height: 1.2 !default;
$input-active-glow: 0px 0px 4px $primary !default;

$select-width: 8em !default;
$select-padding: .5em 2em .5em .5em !default;

.k-form {
    .k-field {
        margin-bottom: 1em;
        width: auto;

        .k-label {
            display: block;
            font-size: $input-font-size;
            padding: 0em 0em 0.5em 0em;
        }
        .k-input {
            width: 100%;
            display: inline-block;
            padding: $input-padding;
            background-color: $input-background-color;
            border: $input-border-color solid $input-border-weight;
            font-size: $input-font-size;
            line-height: $input-line-height;
            box-sizing: border-box;
            &::placeholder {
                color: $grey;
            }
            &:focus {
                outline: none;
                background-color: $input-background-color-active;
            }
        }
        .k-select {
            display: inline-block;
            position: relative;
            vertical-align: top;
            box-sizing: border-box;
            width: 100%;

            select {
                display: block;
                background-color: $input-background-color;
                width: 100%;
                padding: $select-padding;
                border: $input-border-color solid $input-border-weight;
                font-size: $input-font-size;
                line-height: $input-line-height;
                outline: none;
                box-shadow: none;
                -webkit-appearance: none;
                cursor: pointer;
                border-radius: 0px;
                position: relative;
            }
            &::after {
                content: " ";
                position: absolute;
                border: 1px solid $text-color;
                border-right: 0;
                border-top: 0;
                display: block;
                height: 0.5em;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                width: 0.5em;
                right: 10px;
                top: 13px;
            }
            &:hover {
                &::after {
                    border-color: $primary;
                }
            }
        }
        .k-textarea {
            @extend .k-input;
        }
    }
}
