$nav-background-color: $white !default;
$nav-hover-color: $grey-very-light !default;
$nav-accent-color: $primary !default;
$nav-accent-weight: 4px !default;
$nav-min-height: 3.5em !default;
$nav-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2) !default;

$nav-dark: #1e1f20 !default;
$nav-dark-hover: $grey-dark !default;

.k-nav {
    background-color: $nav-background-color;
    min-height: $nav-min-height;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    & > .k-container {
        display: flex;
        flex-direction: row;
    }
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 150;
    }
    &.accented {
        border-top: $nav-accent-color solid $nav-accent-weight;
    }
    &.shadow {
        box-shadow: $nav-shadow;
    }
    &.dark {
        background-color: $nav-dark;

        .k-nav-list {
            .k-nav-item {
                background-color: $nav-dark;
                color: $white;

                &:hover {
                    background-color: $nav-dark-hover;
                }
                .k-dropdown {
                    background-color: $nav-dark;
                }
            }
        }
    }

    .k-logo {
        display: flex;
        align-items: center;
        padding: 0.5em 1em 0.5em 0em;
        cursor: pointer;
        font-weight: $weight-bold;
    }

    .k-nav-list {
        display: flex;
        align-items: stretch;
        width: 100%;

        &.nav-end {
            justify-content: flex-end;
        }
        &.nav-center {
            justify-content: center;
            align-items: center;
        }

        .k-nav-item {
            background-color: $nav-background-color;
            display: flex;
            padding: 0.5em 1em;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: $nav-hover-color;
            }
            &.is-dropdown {
                padding: 0em;

                .k-dropdown-title {
                    padding: 0.5em 1em;
                }
                &:hover > .k-dropdown{
                    display: block;
                }
            }

            .k-dropdown {
                background-color: $white;
                padding: 0.5em 0em;;
                top: 100%;
                display: none;
                position: absolute;
                box-shadow: $nav-shadow;
                z-index: 100;

                &.accented {
                    border-bottom: $nav-accent-color solid $nav-accent-weight;
                }
                .k-dropdown-item {
                    display: flex;
                    padding: 0.45em 1.5em;
                    width: auto;

                    &:hover {
                        background-color: $nav-hover-color;
                    }
                }
            }
        }
    }
}
