$type-heading-color: $heading-color !default;
$type-heading-line-height: $heading-line-height !default;
$type-heading-weight: $weight-semibold !default;
$type-heading-font-family: $family-sans-serif !default;

$blockquote-background-color: $grey-very-light !default;
$blockquote-accent-color: $grey-light !default;
$blockquote-text-color: $grey !default;
$blockquote-font-family: serif;

$ul-list-style: square outside;
$ol-list-style: decimal;

.k-type {

    h1, h2, h3, h4, h5, h6 {
        color: $type-heading-color;
        line-height: $type-heading-line-height;
        font-weight: $type-heading-weight;
        font-family: $type-heading-font-family;
    }
    h1 {
        font-size: $text-size-very-large;
        margin: 1em 0em .5em 0em;
    }
    h2 {
        font-size: $text-size-large;
        margin: 1em 0em .4em 0em;
    }
    h3 {
        font-size: $text-size-medium;
        margin: .85em 0em .35em 0em;
    }
    h4 {
        font-size: $text-size-medium;
        margin: .75em 0em .3em 0em;
    }
    h5 {
        font-size: $text-size-normal;
        margin: .5em 0em .25em 0em;
    }
    h6 {
        font-size: $text-size-normal;
        margin: .5em 0em .25em 0em;
        color: $grey;
    }
    p {
        margin: 0em 0em 1em 0em;
        line-height: 1.5;
        color: $text-color;
    }
    blockquote {
        background-color: $blockquote-background-color;
        color: $blockquote-text-color;
        padding: 1.5em;
        border-left: 5px solid $blockquote-accent-color;
        margin: .5em 0em;
        font-family: $blockquote-font-family;
    }
    ul {
        list-style: $ul-list-style;
        margin: 1em 0em 1em 1.5em;

        li {
            line-height: 1.5;
        }
    }
    ol {
        list-style: $ol-list-style;
        margin: 1em 0em 1em 1.5em;

        li {
            line-height: 1.5;
        }
    }
}
